{% extends 'base.html' %}

{% block title %}
Account List
{% endblock title %}

{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        {% for key, value in account_dict.items %}
            <tr>
                <td>{{ key }}</td>
                {% for item in value %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
