{% extends 'base.html' %}

{% block title %}
Category List
{% endblock title %}

{% block content %}
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        {% for key, value in expense_dict.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
